html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 100px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
}

.article-head-unread{
    font-weight: bold
}

.article-head-read{}

.accordion-group{
    margin-bottom: 1px !important;
}

.accordion-toggle{
    padding: 3px 5px !important;
}

.accordion-toggle-toolbar {
    margin: 3px 5px;
}

.article-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76%;
}
