$def with (page)

$:render.head()

<!-- Modal "Add source"-->
<div id="modalAddSource" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modalAddSourceLabel">Add source</h3>
    </div>
    <div class="modal-body">
        <form id="addSourceForm" action="/source/add" method="POST">
            <fieldset>
                <label>Source</label>
                <select name="addSourceType">
                    <option value="feed">Feed</option>
                    <option value="twitter">Twitter</option>
                </select>
                <input type="text" class="input-xlarge" placeholder="Required…" name="addSourceUrl">
                <label>Source title</label>
                <input type="text" class="input-xlarge" placeholder="Not required…" name="addSourceTitle">
                <!--span class="help-block">Example block-level help text here.</span-->
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <a class="btn btn-primary" href="javascript:$('addSourceForm').submit()">Save changes</a>
    </div>
</div>

<!-- Modal "Waiting"-->
<div id="modalWaiting" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Loading</h3>
    </div>
    <div class="modal-body">
        <p>Please wait...</p>
    </div>
</div>

<div class="alert-message fade out">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div id="wrap" class="container-fluid">
    <div id="main" class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class="nav-header">Links</li>
                <li><a href="/article/list/all/1">All news</a></li>
                <li><a href="/article/list/unread/1">Unread news</a></li>
                <li><a href="/article/list/read/1">Read news</a></li>
                <li><a href="/article/list/liked/1">Liked news</a></li>
                <li><a href="/source/list">Source list</a></li>
                <li class="nav-header">Actions</li>
                <li><a href="#modalAddSource" data-toggle="modal">Add source</a></li>
                <li><a href="/service/load-news" data-toggle="modal" onclick="$$('#modalWaiting').modal({keyboard: false});">Load news</a></li>
                <li class="divider"></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
        <div class="span10">
            <!--Body content-->
            $:page
        </div>
    </div>
</div>

$:render.footer()