$:render.head()
<div id="wrap" class="container-fluid">
    <div id="main">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <h1>The Link Store</h1>

            <p>This is a template for a simple marketing or informational website. It includes a large callout called the
                hero unit and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>

            <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
$:render.footer()