$def with (item)

$code:
    def format_date(s):
        return str(s)[:10]
    def format_title(s):
        max_len = 100
        if s and len(s) > max_len:
            return u'%s...' % s[:max_len]
        else:
            return s
    def format_rating(r):
        if r < 10:
            return '&nbsp;&nbsp;%s&nbsp;&nbsp;&nbsp;' % r
        else:
            return '%s&nbsp;&nbsp;&nbsp;' % r


<div class="accordion-group">
    <div class="accordion-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapse$item.id">
        <div class="accordion-toggle">
            $code:
                like_label_class = ''
                like_label_func = 'likeArticle'
                like_label_text = 'Ъ'
                unread_link_class = 'article-head-unread'
                if item.is_liked:
                    like_label_class = 'label-success'
                    like_label_func = 'dislikeArticle'
                if item.is_read:
                    unread_link_class = 'article-head-read'
            <a class="label $like_label_class article-title-like" data-likebutton="$item.id" onclick="$like_label_func ($item.id)">$:like_label_text</a>
            <div class="article-title">
                <a class="$unread_link_class" data-articlehead="$item.id">
                    $format_title(item.title)
                </a>
            </div>
            <span class="pull-right">$:format_rating(item.rating) $format_date(item.published)</span>
        </div>
    </div>
    <div id="collapse$item.id" class="accordion-body collapse">
        <div class="accordion-inner">
            $:item.description
        </div>
        <div class="accordion-toggle-toolbar">
                <a class="label $like_label_class" data-likebutton="$item.id" onclick="$like_label_func ($item.id)">$:like_label_text</a>
                <a class="label" data-toggle="source-popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="Sources" data-container="body">Sources: $item.source_count</a>
                <a class="label" href="mailto:add@getpocket.com?subject=SaveThis&body=$item.url">To Pocket</a>
                <a class="label" href="mailto:drops@ukeeper.com?subject=$item.title&body=$item.url">To Evernote</a>
                <a class="label" href="$item.url" target="_blank">Original</a>
        </div>
    </div>
</div>

<script>
    $$(document).ready(function() {
        readArticle($item.id);
    });
</script>
